body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex, .f {
  display: flex;
}

.flex-col, .fc {
  display: flex;
  flex-direction: column;
}

.flex-row, .fr {
  display: flex;
  flex-direction: row;
}

.flex-center, .c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-grow, .fg {
  flex-grow: 1;
}

.ma {
  margin: auto;
}

.full-height, .fh {
  height: 100%;
}

section {
  max-width: 1600px;
  margin: auto;
}